# Prerequisites
*.d
*.json

# Ignore Go build cache and vendor
/vendor/
*.test

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Logs
[Ll]ogs/
[Dd]ata
[Aa]rchive
[Vv]endor


# Ignore your local archive folders
/archive/
/archive_original/
/_backup/
/_upload/
/data/